// Based on nav height
.section{
  margin-bottom: 40px;
}

.container{
    background: #F3F6F3;
    margin: 10px auto 0 auto;
    max-width: 900px;
    width: 100%;
    z-index: 2;

    @include tablet {
    margin: 0 auto;
}
}

// wrapper
.wrapper{
  padding: 110px 25px;
  max-width: 700px;
  margin: 0 auto;

  @include tablet {
    padding: 60px 50px;
}

  @include mobile {
    padding: 60px 35px;
  }
}

.backdrop{
  background: $main-color;
  width: 100vw;
  min-height: 450px;
  position: absolute;
  top: 0;
  z-index: -1;
}

.intro-tekst {
  margin-bottom: 60px;

  @include tablet {
    margin-bottom: 30px;
  }
}

.onderwerpen{

  .column{
    display: flex;
    margin: 20px 0;

    @include tablet {
      flex-direction: column;
      margin: 0;
    }
  }
}

.onderwerp{
  width: 100%;
  margin: 0px 70px 40px 20px;

  @include tablet {
    margin: 20px 0;
  }
}

.onderwerp1{

  h3{
    color: $red;
}

  button{
    background: $red;
  }
}

.onderwerp2{

  h3{
    color: $orange;
}

  button{
    background: $orange;
  }
}

.onderwerp3{

  h3{
    color: $green;
}

  button{
    background: $green;
  }
}

.onderwerp4{

  h3{
    color: $cyan;
}

  button{
    background: $cyan;
  }
}

.onderwerp5{

  h3{
    color: $blue;
}

  button{
    background: $blue;
  }
}

.onderwerp6{

  h3{
    color: $yellow;
}

  button{
    background: $yellow;
  }
}

.progress{
  background: $grey1;
  width: 100%;
  margin-top: 80px;

  @include tablet {
    margin-top: 0;
    border-top: 1px solid $divider-color;
  }
}

.progress-wrapper{
  width: 80%;
  max-width: $wrapper-width;
  margin: 0 auto;
  padding: 80px 0 88px 0;

  p{
    margin: 0;
  }

  @include tablet {
    padding: 40px 0 44px 0;
  }
}

.progress-items{
  display: flex;
  justify-content: space-between;
  margin: 35px 0 0 0;

  img{
    height: 30px;
  }

  hr{
    display: none;
    margin: 15px 0;
  }

  a, p{
    font-size: 1.7rem;
    line-height: 1.9;
    margin: 0;
    margin-bottom: 1px;
    display: block;

    &:hover{
      text-decoration: underline;
      color: $blue;

      p{
        color: $blue;
      }
    }
  }

  @include tablet {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    img{
      display: none;
    }

    hr{
      display: block;
    }
  }
}


footer{
  display: flex;
  justify-content: space-between;
  background: $main-color;
  align-items: center;
  padding: 15px 60px;

  p, a, span{
    color: #fff;
    margin: 0;
  }

  a{
    transition: .3s all ease;

    &:hover{
      transform: translateX(10px);
    }
  }

  @include tablet {
    flex-direction: column;
    padding: 40px 30px;
  }
}

.vragen{
  display: flex;
  align-items: center;

  p{
    font-size: 1.9rem;
  }

    img{
      height: 55px;
      margin-right: 25px;
    }

    @include tablet {
      margin-bottom: 30px;
    }
}

.contact a{
  display: flex;
  align-items: center;

    img{
      height: 18px;
      margin-left: 30px;
    }
}


// sort
.contact-sort{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;

  @include tablet {
    flex-direction: column;
    margin-top: 55px;
  }
}

.sort-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: .3s all ease;
  margin: 10px 0;

  h3{
    margin-top: 25px;
    margin-bottom: 7px;
  }

  img{
    height: 129px;
  }

  &:hover{
    transform: translateY(-11px);
  }

  @include mobile {
    align-items: flex-start;
    text-align: left;

    img{
      height: 100px;
    }
  }
}


// time
.tijd-item{
  display: block;
	border: 0;
	padding: 0;
  margin: 0;
	border-bottom: 1px solid $divider-color;

  img{
    height: 20px;
    transition: .3s all ease;
  }

  h3{
    padding-top: 2px;
  }

  li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px 14px 30px;
  }

  p{
    margin: 0;
  }

  p, h3, h4{
    transition: .3s all ease;
  }

  &:hover{
    background: $main-color;

    p, h3, h4{
      transform: translateX(10px);
    }

    h3, h4{
      color: #fff;
    }

    p{
      color: #fff;
    }

    img{
      transform: translateX(7px);
    }
  }

  @include tablet {
    li{
      padding: 14px 15px;
    }
  }
}

.tijd-item:last-child{
  border: none;
}

.list-item{

  h3{
    font-size: 2.6rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 1px;
    line-height: 1;
  }

  h4{
    color: $text-color;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 5px;
  }

  p{
    font-size: 1.6rem;
  }

  &:hover{
    p{
      color: #d4d4d4;
    }
  }

  @include mobile {
    h4{
      font-size: 1.7rem;
    }
  }
}

// validatie
.validatie-container{
  margin-bottom: 35px;

  h3{
    margin-bottom: 7px;
  }

  a, p{
    margin-bottom: 9px;
    line-height: 1.2;
    display: block;
  }

  a:hover, a:hover p{
      color: $blue;
      text-decoration: underline;
  }
}

.logo{
  max-width: 900px;
  margin: 40px auto 0 auto;

  img{
    height: 120px;
  }

  @include wrapper-width {
  margin: 30px auto 10px auto;

    img{
      margin: 0 auto;
      display: block;
      height: 90px;
    }
  }
}

.bar{
  width: 0%;
  height: 5px;
  background: $cyan;
  transition: .3s all ease;
}

#step1{
  margin-bottom: 80px;
}

#step1 .bar{
  width: 0%;
}

#step1 .bar{
      animation-name: step1;
      animation-timing-function: ease;
      animation-duration: 0.6s;
      animation-delay: .8s;
      animation-fill-mode: forwards;
}

@keyframes step1 {
    0% {
        width: 0%;
    }
    100% {
        width: 0%;
    }
}

// step 2
#step2 .bar{
  width: 0%;
}

#step2 .bar{
      animation-name: step2;
      animation-timing-function: ease;
      animation-duration: 0.6s;
      animation-delay: .8s;
      animation-fill-mode: forwards;
}

@keyframes step2 {
    0% {
        width: 0%;
    }
    100% {
        width: 12.5%;
    }
}

// step 3
#step3 .bar{
  width: 12.5%;
}

#step3 .bar{
      animation-name: step3;
      animation-timing-function: ease;
      animation-duration: 0.6s;
      animation-delay: .8s;
      animation-fill-mode: forwards;
}

@keyframes step3 {
    0% {
        width: 12.5%;
    }
    100% {
        width: 25%;
    }
}

// step 4
#step4 .bar{
  width: 25%;
}

#step4 .bar{
      animation-name: step4;
      animation-timing-function: ease;
      animation-duration: 0.6s;
      animation-delay: .8s;
      animation-fill-mode: forwards;
}

@keyframes step4 {
    0% {
        width: 25%;
    }
    100% {
        width: 37.5%;
    }
}

// step 5
#step5 .bar{
  width: 37.5%;
}

#step5 .bar{
      animation-name: step5;
      animation-timing-function: ease;
      animation-duration: 0.6s;
      animation-delay: .8s;
      animation-fill-mode: forwards;
}

@keyframes step5 {
    0% {
        width: 37.5%;
    }
    100% {
        width: 50%;
    }
}

// step 6
#step6 .bar{
  width: 50%;
}

#step6 .bar{
      animation-name: step6;
      animation-timing-function: ease;
      animation-duration: 0.6s;
      animation-delay: .8s;
      animation-fill-mode: forwards;
}

@keyframes step6 {
    0% {
        width: 50%;
    }
    100% {
        width: 62.5%;
    }
}

// step 7
#step7 .bar{
  width: 62.5%;
}

#step7 .bar{
      animation-name: step7;
      animation-timing-function: ease;
      animation-duration: 0.6s;
      animation-delay: .8s;
      animation-fill-mode: forwards;
}

@keyframes step7 {
    0% {
        width: 62.5%;
    }
    100% {
        width: 75%;
    }
}

// step 8
#step8{
  margin-bottom: 80px;
}

#step8 .bar{
  width: 75%;
}

#step8 .bar{
      animation-name: step8;
      animation-timing-function: ease;
      animation-duration: 0.6s;
      animation-delay: .8s;
      animation-fill-mode: forwards;
}

@keyframes step8 {
    0% {
        width: 75%;
    }
    100% {
        width: 87.5%;
    }
}

// step 9
#step9{
  margin-bottom: 300px;
}

#step9 .bar{
  width: 87.5%;
}

#step9 .bar{
      animation-name: step9;
      animation-timing-function: ease;
      animation-duration: 0.6s;
      animation-delay: .8s;
      animation-fill-mode: forwards;
}

@keyframes step9 {
    0% {
        width: 87.5%;
    }
    100% {
        width: 100%;
    }
}
