// Colors
$main-color               : #590097;
$main-color2					    : lighten($main-color, 9%);
$main-color3				      : darken($main-color, 9%);

$header-color						  : $main-color;
$text-color          			: #656565;

$grey1							      : #F3F6F3;
$grey2							      : #FCF9F7;
$grey3							      : #edf1f4;

$red                      : #E74C3C;
$orange                   : #FF913C;
$green                    : #00A950;
$cyan                     : #1AD8CA;
$blue                     : #4B46A4;
$yellow                   : #FFCE44;


$divider-color					  : rgba(182, 182, 182, 0.3);

$selection-color				  : lighten($main-color, 10%);
$scrollbar-color				  : $main-color;

// Shadow
$shadow	        			    : 1px 4px 9px rgba(0, 0, 0, 0.09), 0 4px 17px rgba(0, 0, 0, 0.1);
$shadow2	        			  : 5px 10px 20px rgba(0, 0, 0, 0.08), 1px 8px 46px rgba(0, 0, 0, 0.09);
$shadow3	        			  : 15px 20px 30px rgba(0, 0, 0, 0.11), 1px 18px 46px rgba(0, 0, 0, 0.11);

// Border radius
$radius							      : 4%;
$radius-circle					  : 50%;

// Fonts
$header-font					    : 'Lato', sans-serif;
$text-font						    : 'Lato', sans-serif;

// margins and paddings
$padding-btn					    : 7px 27px;

// transition
$transition1					    : 0.28s all ease;
$transition2					    : 0.38s all ease;
$transition3					    : 0.55s all ease;

$text-shadow              : 2px 1px 4px rgba(#1d1d1d, 0.5);
$text-shadow2             : 2px 1px 4px rgba(#1d1d1d, 0.7);

// querries
$mobile-width             : 468px;
$tablet-width             : 768px;
$desktop-width            : 1024px;
$wrapper-width            : 900px;


@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin mobile-up {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}){
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: #{$tablet-width}){
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin wrapper-width {
  @media (max-width: #{$wrapper-width}) {
    @content;
  }
}
