@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; }

body {
  background: #fff; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

::selection {
  background: #7700ca;
  text-shadow: 1px 4px 9px rgba(0, 0, 0, 0.09), 0 4px 17px rgba(0, 0, 0, 0.1);
  color: #fff; }

::-webkit-scrollbar {
  height: 6px;
  width: 3.5px;
  background: transparent; }

::-webkit-scrollbar-thumb {
  color: #590097;
  background-color: #590097; }

h1, h2, h3, h4, h5, th, a {
  font-family: "Lato", sans-serif;
  color: #590097; }

h1 {
  font-size: 2.9rem;
  font-weight: 600;
  margin: 0 0 1.4rem 0; }
  @media (min-width: 468px) {
    h1 {
      font-size: 3.2rem; } }

h2 {
  font-size: 4.1rem;
  font-weight: 400;
  margin: 1rem 0; }

h3 {
  font-size: 2.7rem;
  font-weight: 600;
  margin: 1rem 0; }
  @media (max-width: 468px) {
    h3 {
      font-size: 2.3rem; } }

h4 {
  font-size: 2.7rem;
  font-weight: 600;
  margin: 1rem 0; }

h5 {
  font-size: 2.1rem;
  font-weight: 600;
  margin: 0.6rem 0 1.2rem 0;
  color: #590097; }

h6 {
  font-size: 1rem;
  margin: 0rem 0 0.5rem 0;
  font-weight: 400;
  color: #656565; }

p, li, ul, td, span {
  font-family: "Lato", sans-serif;
  color: #656565; }

ul {
  padding: 0; }

p, a {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 18px; }

a {
  margin: 1rem 0;
  text-decoration: none;
  transition: 0.28s all ease;
  color: #656565; }

strong, .strong {
  font-weight: 600;
  color: #590097; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

button, .btn {
  box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.09), 0 4px 17px rgba(0, 0, 0, 0.1);
  color: #fff;
  background: #590097;
  padding: 7px 27px;
  font-size: 1.7rem;
  border: none;
  transition: 0.28s all ease; }
  button:hover, .btn:hover {
    background: #3e0069;
    color: #fff;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.08), 1px 8px 46px rgba(0, 0, 0, 0.09); }

.btn2 {
  text-decoration: none;
  padding: 7px 27px;
  color: #590097;
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: 0.28s all ease;
  font-weight: 500; }
  .btn2:hover {
    color: #3e0069; }

.text-link, .text-link a {
  color: #590097;
  text-transform: uppercase;
  font-weight: 600; }
  .text-link:hover, .text-link a:hover {
    color: #3e0069; }

hr, .hr {
  display: block;
  border: 0;
  width: 100%;
  margin: 1em 0;
  padding: 0;
  border-top: 1px solid rgba(182, 182, 182, 0.3); }

form {
  max-width: 350px; }

input, textarea {
  outline: none;
  display: block;
  width: 100%;
  border: none;
  margin: 0 0 20px;
  padding: 15px 20px;
  box-sizing: border-box;
  font-wieght: 400;
  transition: 0.28s all ease;
  font-size: 1.3rem;
  max-width: 400px; }

input:focus, textarea:focus {
  color: #333333;
  box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.09), 0 4px 17px rgba(0, 0, 0, 0.1); }

.form-label {
  margin-bottom: 4px; }

label {
  font-size: 1.8rem;
  color: #590097;
  font-weight: 600; }
  @media (max-width: 468px) {
    label {
      font-size: 1.5rem; } }

label + input {
  margin-top: 10px;
  font-size: 1.5rem; }

input + button {
  padding: 10px 40px;
  font-size: 1.6rem; }

.option {
  display: flex; }

.section {
  margin-bottom: 40px; }

.container {
  background: #F3F6F3;
  margin: 10px auto 0 auto;
  max-width: 900px;
  width: 100%;
  z-index: 2; }
  @media (max-width: 768px) {
    .container {
      margin: 0 auto; } }

.wrapper {
  padding: 110px 25px;
  max-width: 700px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .wrapper {
      padding: 60px 50px; } }
  @media (max-width: 468px) {
    .wrapper {
      padding: 60px 35px; } }

.backdrop {
  background: #590097;
  width: 100vw;
  min-height: 450px;
  position: absolute;
  top: 0;
  z-index: -1; }

.intro-tekst {
  margin-bottom: 60px; }
  @media (max-width: 768px) {
    .intro-tekst {
      margin-bottom: 30px; } }

.onderwerpen .column {
  display: flex;
  margin: 20px 0; }
  @media (max-width: 768px) {
    .onderwerpen .column {
      flex-direction: column;
      margin: 0; } }

.onderwerp {
  width: 100%;
  margin: 0px 70px 40px 20px; }
  @media (max-width: 768px) {
    .onderwerp {
      margin: 20px 0; } }

.onderwerp1 h3 {
  color: #E74C3C; }
.onderwerp1 button {
  background: #E74C3C; }

.onderwerp2 h3 {
  color: #FF913C; }
.onderwerp2 button {
  background: #FF913C; }

.onderwerp3 h3 {
  color: #00A950; }
.onderwerp3 button {
  background: #00A950; }

.onderwerp4 h3 {
  color: #1AD8CA; }
.onderwerp4 button {
  background: #1AD8CA; }

.onderwerp5 h3 {
  color: #4B46A4; }
.onderwerp5 button {
  background: #4B46A4; }

.onderwerp6 h3 {
  color: #FFCE44; }
.onderwerp6 button {
  background: #FFCE44; }

.progress {
  background: #F3F6F3;
  width: 100%;
  margin-top: 80px; }
  @media (max-width: 768px) {
    .progress {
      margin-top: 0;
      border-top: 1px solid rgba(182, 182, 182, 0.3); } }

.progress-wrapper {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  padding: 80px 0 88px 0; }
  .progress-wrapper p {
    margin: 0; }
  @media (max-width: 768px) {
    .progress-wrapper {
      padding: 40px 0 44px 0; } }

.progress-items {
  display: flex;
  justify-content: space-between;
  margin: 35px 0 0 0; }
  .progress-items img {
    height: 30px; }
  .progress-items hr {
    display: none;
    margin: 15px 0; }
  .progress-items a, .progress-items p {
    font-size: 1.7rem;
    line-height: 1.9;
    margin: 0;
    margin-bottom: 1px;
    display: block; }
    .progress-items a:hover, .progress-items p:hover {
      text-decoration: underline;
      color: #4B46A4; }
      .progress-items a:hover p, .progress-items p:hover p {
        color: #4B46A4; }
  @media (max-width: 768px) {
    .progress-items {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
      .progress-items img {
        display: none; }
      .progress-items hr {
        display: block; } }

footer {
  display: flex;
  justify-content: space-between;
  background: #590097;
  align-items: center;
  padding: 15px 60px; }
  footer p, footer a, footer span {
    color: #fff;
    margin: 0; }
  footer a {
    transition: .3s all ease; }
    footer a:hover {
      transform: translateX(10px); }
  @media (max-width: 768px) {
    footer {
      flex-direction: column;
      padding: 40px 30px; } }

.vragen {
  display: flex;
  align-items: center; }
  .vragen p {
    font-size: 1.9rem; }
  .vragen img {
    height: 55px;
    margin-right: 25px; }
  @media (max-width: 768px) {
    .vragen {
      margin-bottom: 30px; } }

.contact a {
  display: flex;
  align-items: center; }
  .contact a img {
    height: 18px;
    margin-left: 30px; }

.contact-sort {
  display: flex;
  justify-content: space-around;
  margin-top: 100px; }
  @media (max-width: 768px) {
    .contact-sort {
      flex-direction: column;
      margin-top: 55px; } }

.sort-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: .3s all ease;
  margin: 10px 0; }
  .sort-item h3 {
    margin-top: 25px;
    margin-bottom: 7px; }
  .sort-item img {
    height: 129px; }
  .sort-item:hover {
    transform: translateY(-11px); }
  @media (max-width: 468px) {
    .sort-item {
      align-items: flex-start;
      text-align: left; }
      .sort-item img {
        height: 100px; } }

.tijd-item {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgba(182, 182, 182, 0.3); }
  .tijd-item img {
    height: 20px;
    transition: .3s all ease; }
  .tijd-item h3 {
    padding-top: 2px; }
  .tijd-item li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px 14px 30px; }
  .tijd-item p {
    margin: 0; }
  .tijd-item p, .tijd-item h3, .tijd-item h4 {
    transition: .3s all ease; }
  .tijd-item:hover {
    background: #590097; }
    .tijd-item:hover p, .tijd-item:hover h3, .tijd-item:hover h4 {
      transform: translateX(10px); }
    .tijd-item:hover h3, .tijd-item:hover h4 {
      color: #fff; }
    .tijd-item:hover p {
      color: #fff; }
    .tijd-item:hover img {
      transform: translateX(7px); }
  @media (max-width: 768px) {
    .tijd-item li {
      padding: 14px 15px; } }

.tijd-item:last-child {
  border: none; }

.list-item h3 {
  font-size: 2.6rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 1px;
  line-height: 1; }
.list-item h4 {
  color: #656565;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 5px; }
.list-item p {
  font-size: 1.6rem; }
.list-item:hover p {
  color: #d4d4d4; }
@media (max-width: 468px) {
  .list-item h4 {
    font-size: 1.7rem; } }

.validatie-container {
  margin-bottom: 35px; }
  .validatie-container h3 {
    margin-bottom: 7px; }
  .validatie-container a, .validatie-container p {
    margin-bottom: 9px;
    line-height: 1.2;
    display: block; }
  .validatie-container a:hover, .validatie-container a:hover p {
    color: #4B46A4;
    text-decoration: underline; }

.logo {
  max-width: 900px;
  margin: 40px auto 0 auto; }
  .logo img {
    height: 120px; }
  @media (max-width: 900px) {
    .logo {
      margin: 30px auto 10px auto; }
      .logo img {
        margin: 0 auto;
        display: block;
        height: 90px; } }

.bar {
  width: 0%;
  height: 5px;
  background: #1AD8CA;
  transition: .3s all ease; }

#step1 {
  margin-bottom: 80px; }

#step1 .bar {
  width: 0%; }

#step1 .bar {
  animation-name: step1;
  animation-timing-function: ease;
  animation-duration: 0.6s;
  animation-delay: .8s;
  animation-fill-mode: forwards; }

@keyframes step1 {
  0% {
    width: 0%; }
  100% {
    width: 0%; } }
#step2 .bar {
  width: 0%; }

#step2 .bar {
  animation-name: step2;
  animation-timing-function: ease;
  animation-duration: 0.6s;
  animation-delay: .8s;
  animation-fill-mode: forwards; }

@keyframes step2 {
  0% {
    width: 0%; }
  100% {
    width: 12.5%; } }
#step3 .bar {
  width: 12.5%; }

#step3 .bar {
  animation-name: step3;
  animation-timing-function: ease;
  animation-duration: 0.6s;
  animation-delay: .8s;
  animation-fill-mode: forwards; }

@keyframes step3 {
  0% {
    width: 12.5%; }
  100% {
    width: 25%; } }
#step4 .bar {
  width: 25%; }

#step4 .bar {
  animation-name: step4;
  animation-timing-function: ease;
  animation-duration: 0.6s;
  animation-delay: .8s;
  animation-fill-mode: forwards; }

@keyframes step4 {
  0% {
    width: 25%; }
  100% {
    width: 37.5%; } }
#step5 .bar {
  width: 37.5%; }

#step5 .bar {
  animation-name: step5;
  animation-timing-function: ease;
  animation-duration: 0.6s;
  animation-delay: .8s;
  animation-fill-mode: forwards; }

@keyframes step5 {
  0% {
    width: 37.5%; }
  100% {
    width: 50%; } }
#step6 .bar {
  width: 50%; }

#step6 .bar {
  animation-name: step6;
  animation-timing-function: ease;
  animation-duration: 0.6s;
  animation-delay: .8s;
  animation-fill-mode: forwards; }

@keyframes step6 {
  0% {
    width: 50%; }
  100% {
    width: 62.5%; } }
#step7 .bar {
  width: 62.5%; }

#step7 .bar {
  animation-name: step7;
  animation-timing-function: ease;
  animation-duration: 0.6s;
  animation-delay: .8s;
  animation-fill-mode: forwards; }

@keyframes step7 {
  0% {
    width: 62.5%; }
  100% {
    width: 75%; } }
#step8 {
  margin-bottom: 80px; }

#step8 .bar {
  width: 75%; }

#step8 .bar {
  animation-name: step8;
  animation-timing-function: ease;
  animation-duration: 0.6s;
  animation-delay: .8s;
  animation-fill-mode: forwards; }

@keyframes step8 {
  0% {
    width: 75%; }
  100% {
    width: 87.5%; } }
#step9 {
  margin-bottom: 300px; }

#step9 .bar {
  width: 87.5%; }

#step9 .bar {
  animation-name: step9;
  animation-timing-function: ease;
  animation-duration: 0.6s;
  animation-delay: .8s;
  animation-fill-mode: forwards; }

@keyframes step9 {
  0% {
    width: 87.5%; }
  100% {
    width: 100%; } }
